body{
  background-color: #EFEFEF;
}

a{
  text-decoration:none;
  color: inherit;
}

.centerAttribute{

}

#indexDiv{
  position: relative;
  width: 500px;
  height: 200px;
  text-align:center;
  margin:0 auto;
  color: #333333;
  top: 200px;
}


#logo{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
